<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
        
        <div class="card-holder">
           <p>dashboard under development</p>
        </div>

    </body>
    <!--<script src="{{ url_for('static',filename='login.js') }}" async defer></script>-->
</html>