<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
        
        <div class="card-holder">
           <p>Welcome {{ name }}</p>

           <div class="tabs">
                <input class="tablinks" type="button" value="Watchlist"         onclick="change_tab('WL')">
                <input class="tablinks" type="button" value="Browse Movies"     onclick="change_tab('BR')">
            </div>

            <!-- Media Watchlist -->
            <div class="tab-content" id="WL">
                <table>
                    <tr>
                        <th>Picture Name</th>
                        <th>Watch Status</th>
                        <th>Completion Date</th>
                    </tr>

                    {% block  Media_Watchlist %}
                        {% for picture in watchlist %}
                            <tr class="picture-row">
                                <td class="picture-link" id="{{ picture[0] }}">{{ picture[1] }}</td>
                                <td>{{ picture[2] }}</td>
                                <td>{{ picture[3] }}</td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                </table>

            </div>

            <!-- Browse as a user -->
            <div class="tab-content" id="BR" hidden>
                <p>browse here</p>
            </div>
        </div>

    </body>
    <script src="{{ url_for('static',filename='picture.js') }}" async defer></script>
</html>