<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
        
        <div class="card-holder">
            <div class="card">
                <form action="/register" method="POST">
                    <h3>Register as a user</h3>

                    <!-- Firstname input -->
                    <label for="firstname"><b>First name</b></label>
                    <br>
                    <input name="firstname" type="text" placeholder="Enter First Name" required>
                    <br>
                    <br>

                    <!-- Lastname input -->
                    <label for="lastname"><b>Last name</b></label>
                    <br>
                    <input name="lastname" type="text" placeholder="Enter Last Name" required>
                    <br>
                    <br>

                    <!-- Email input -->
                    <label for="email"><b>Email</b></label>
                    <br>
                    <input name="email" type="text" placeholder="Enter Email" required>
                    <br>
                    <br>

                    <!-- Username input -->
                    <label for="username"><b>Username</b></label>
                    <br>
                    <input name="username" type="text" placeholder="Enter Username" required>
                    <br>
                    <br>

                    <!-- Password input-->
                    <label for="password"><b>Password</b></label>
                    <br>
                    <input name="password" type="password" placeholder="Enter Password" required>
                    <br>
                    <br>

                    <!-- Preferred Stream Site input-->
                    <label for="preferredstreamsite"><b>Preferred Stream Site </b></label>
                    <br>
                    <input name="preferredstreamsite" type="text" placeholder="Enter Preferred Stream Site" required>
                    <br>
                    <br>
                    <input type="submit" value="Register">

                </form>
            </div>
        </div>

        {% block content %}
            <div class="flash-holder">
                {% with messages = get_flashed_messages() %}

                    {% if messages %}

                    <ul class="flashes">
                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}
                    </ul>

                    {% endif %}

                {% endwith %}
            </div>
        {% endblock %}
    </body>
    <script src="{{ url_for('static',filename='register.js') }}" async defer></script>
</html>