<!DOCTYPE html>

<html>
    <head>
        <title>Dashboard</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body onload="create_picture_links()">
        
        <div class="card-holder">
            <p>Welcome {{ name }}</p>
            <input id="log-out" type="Button" value="Log Out" onclick="logout()">
            <div class="tabs">
                <input class="tablinks" type="button" value="Watchlist"         onclick="change_tab('WL')">
                <input class="tablinks" type="button" value="Browse Movies"     onclick="change_tab('BR')">
            </div>

            <!-- Media Watchlist -->
            <div class="tab-content" id="WL">
                <table>
                    <tr>
                        <th>Picture Name</th>
                        <th>Watch Status</th>
                        <th>Completion Date</th>
                        <th>Change</th>
                    </tr>

                    {% block  Media_Watchlist %}
                        {% for picture in watchlist %}
                            <tr class="picture-row-watchlist">
                                <td class="picture-link" id="{{ picture[0] }}">{{ picture[1] }}</td>
                                <td>{{ picture[2] }}</td>
                                <td>{{ picture[3] }}</td>
                                <td><input type="button" value="Edit" onclick="editWatchlistPicture(`{{ picture[0]}}`)"></td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                </table>

            </div>

            <!-- Browse as a user -->
            <div class="tab-content" id="BR" hidden>
                <br>
                <div class="browse-content">
                    <label>Search by:</label>

                    <!-- Filters to search by-->
                    <select>
                        <option value="no_filter">No Filter</option>
                        <option value="release_year">Release Date</option>
                        <option value="picture_name">Picture Name</option>
                        <option value="cast_member_name">Cast Member Name</option>
                    </select>

                    <!-- User search input -->
                    <input id="search-value" type="search" placeholder="input filters here">

                    <!-- Search button -->
                    <input id="search-button" type="button" value="Search" onclick="search()">

                    <!-- Reset table -->
                    <input id="rest" type="reset" onclick="reset_table()">
                </div>
                <br>

                <table id="search-results">
                    <tr>
                        <th>Name</th>
                        <th>Age Rating</th>
                        <th>Genre(s)</th>
                        <th>Picture Type</th>
                        <th>Release Date</th>
                    </tr>
                </table>
            </div>
        </div>

        <div id="edit-form" hidden>
            <form>
                <label>Watch Status:</label><br>
                <select id="watchstatus">
                    <option>Haven't Started</option>
                    <option>In Progress</option>
                    <option>Finished</option>
                </select>
                <br>
                <label>Completition Date:</label>
                <br>
                <input id="completitiondate" type="date">
                <br>
                <input type="button" value="Go Back" onclick="exitForm()">
                <input type="submit" value="Submit" onclick="editWatchlist()">
            </form>
        </div>

    </body>
    <script src="{{ url_for('static',filename='picture.js') }}" async defer></script>
    <script src="{{ url_for('static',filename='browse.js') }}" async defer></script>
    <script src="{{ url_for('static',filename='dashboard.js') }}" async defer></script>
</html>